$greyish-brown: #464646;
$pale-grey: #f7f5f9;
$white: #fff;
$pale-lavender: #ece9f1;
$turquoise-blue: #00c7c6;
$orange-yellow: #ffa200;
$dark-mint: #3ec292;
$ocean-blue: #0065b9;
$black: #1f1f1f;
$cherry-red: #ec1c25;
