@mixin text($color, $font-family, $font-size, $line-height, $spacing) {
  color: $color;
  font-family: $font-family, 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: $font-size;
  letter-spacing: $spacing;
  line-height: $line-height;
}

@mixin dimensions($width, $height) {
  height: $height;
  width: $width;
}

@mixin max-dimensions($maxwidth, $maxheight) {
  max-height: $maxheight;
  max-width: $maxwidth;
}

@mixin banner-h1-right-white {
  color: #555;
  font-family: Montserrat;
  font-size: 170px;
  font-weight: 800;
  text-align: right;
}

@mixin head-line-head-3-left-grey {
  color: #555;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 800;
}
