.testing {
  @include dimensions(350px, 200px);
  background-color: $greyish-brown;
  color: $white;

  font-family: 'Cambria';
}

.container {
  padding: 0;
}

// Desktop
@import 'desktop/main';

// Mobile
@media only screen and (max-width: 767px) {
  @import 'mobile/main';
}
